body {
    margin: 0;
    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 32rem;
    min-height: 100vh;

    background-color: black;

    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

main {
    position: relative;
    flex-grow: 1;
}

section {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;

    font-size: 8rem;
    color: white;

    display: none;
}

section.show {
    display: flex;
    justify-content: center;
    align-items: center;
}