/* header */
.head {
    position: absolute;
    left: 50%;
    transform: translate(-50%);

    margin-top: 1.7rem;

    width: auto;
    height: auto;
}

header {
    font-family: calvino grande;
    font-size: 1.2rem;
}

h1 {
    margin-top: 0;
    margin-bottom: 0.7rem;
}

.quit {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
}


/* middelste stuk text */
.intro-article {
    position: absolute;
    left: 50%;
    bottom: 56%;
    transform: translate(-50%);
    width: 18.625rem;

    text-align: center;
    font-size: 1.25rem;
    line-height: 140%;
}

/* onderste stuk text */
.disclaimer-article {
    position: absolute;
    left: 50%;
    bottom: 20%;
    transform: translate(-50%);
    width: 18.625rem;

    text-align: center;
    font-style: italic;
    font-size: 1rem;
    font-weight: 300;
    line-height: 137.5%;
}

/* knop */
.links {
    /* positioneren */
    position: absolute;
    left: 50%;
    bottom: 2.5rem;
    transform: translate(-50%);  
    z-index: 1; 
    width: max-content;
}

.arrow {
    color: white;
    outline: 1px solid #555555;

    padding: 1rem 1rem;
    border-radius: 9999rem;

    cursor: pointer; 
}

/* redmesh */
.redmesh {
    position: absolute;
    top: 0;
    left: -10rem;

    filter: blur(5rem);
    scale: 130%;
    z-index: -1;
}


/* 1st question */
.links {
    position: absolute;
    left: 50%;
    bottom: 2.5rem;
    transform: translate(-50%);
    width: max-content;
}

.terug {

    color: white;
    outline: 1px solid #555555;
    padding: 0.8rem 1.4rem;
    border-radius: 9999rem;
    text-decoration: none;
    cursor: pointer; 

    margin-right: 7rem;
}

.overslaan {

    color: white;
    outline: 1px solid #555555;
    padding: 0.8rem 1.4rem;
    border-radius: 9999rem;
    text-decoration: none;
    cursor: pointer; 
}

/* midden */
.vraag {
    position: absolute;
    left: 50%;
    top: 12%;
    transform: translate(-50%);
    width: 18rem;

    text-align: center;
    font-size: 1.25rem;
    line-height: 140%;
}

/* buttons */
.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.buttons button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;

    /* gap */
    margin: 0.5em; 

    outline: 1px solid #555555;
    padding: 0.8rem 0.9rem;
    border-radius: 9999rem;

    /* maakt border width gelijk */
    width: 15rem;
}

a {
    text-decoration: none;
    color: white;
}

button:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

.terug:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

.overslaan:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}


/* Buttons Fade-In */
.buttons button {
    opacity: 0;
    transform: translateY(15px);
    animation: fadeIn 0.8s ease forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.show {
    display: flex;
}

section {
    display: none;
}